.configure {
    text-align: center;
    padding: 105px 0;
    background: url(../assets/chooseBg.png) no-repeat;
    background-position: center;
    background-size: cover;

    .title {
        line-height: 100px;
    }

    span {
        color: $yellow;
    }

    button {
        @include buttonStyle;
    }

    .btnRed {
        background-color: $yellow;
    }

    .sectionDescr {
        margin-top: 35px;
        margin-bottom: 80px;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .optionsList {
        display: flex;
        justify-content: space-between;
        text-align: center;
        max-width: 756px;
        margin: 0 auto;
        margin-bottom: 60px;
        font-size: 14px;

        .option {
            button {
                margin-bottom: 30px;
            }

            p {
                max-width: 180px;
                margin: 0 auto;
            }
        } 
    }
}

.beginBtn {
    transform: scale(0);
    transition: .3s;
}

.beginBtnExpand {
    transform: scale(1);
}