.feedBack {
    padding: 115px 0 115px;
    text-align: center;
    background: white;
    color: $black;

    span {
        color: $yellow;
    }

    .sectionDescr {
        margin-top: 70px;
        margin-bottom: 50px;
        margin: 65px auto 70px;
        font-style: italic;
        font-weight: 300;
        max-width: 740px;
    }

    form {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .nameInput {
            background: url(../assets/avatar.svg) no-repeat #999999;
            background-position: 10px center;
            background-size: 20px 20px;
        }

        .telInput {
            background: url(../assets/phone.svg) no-repeat #999999;
            background-position: 10px center;
            background-size: 20px 20px;
        }

        input {
            width: 220px;
            height: 45px;
            font-size: 18px;
            padding: 10px 10px 10px 36px;
            border-radius: 3px;
            border: none;
            background-color: #999999;
            color: $white;
            margin-right: 40px;

            ::-webkit-input-placeholder {
                color: white;
            }
        }

        button {
            @include buttonStyle;
            background-color: $yellow;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.footer {
    padding: 15px 0;
    background-color: #222222;

    .footerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .goUpBtn {
            text-transform: uppercase;
            font-size: 20px;
            margin: 0 60px 0 170px;
        }
    
        .copyright {
            justify-self: start;
            color: #b2b2b2;
            text-transform: uppercase;
            font-size: 12px;
            margin-left: 20px;
        }

        .footerContacts {
            display: flex;
            color: $yellow;
            font-size: 12px;

            .tel {
                margin-right: 12px;
            }
        }
    }
}

