.reviews {
    z-index: -1;
    color: $black;
    background-color: white;
    padding: 120px 0 105px;
    text-align: center;

    .reviewItem {
        font-size: 20px;

        .person {
            margin-top: 30px;

            span {
                font-family: 'Open Sans'
            }
        }
    }
}

.reviewsList {
    margin-top: 100px;
    position: relative;
    height: 150px;
}

.reviewItem {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(2000px);
    transition: transform .3s;
}

.reviewShow {
    transform: translateX(0);
    opacity: 1;
}

.reviewHide {
    transform: translateX(-2000px);
    opacity: 1;
}