.stages {
    padding: 114px 0 265px;
    text-align: center;
    background: url(../assets/mainBg.png) no-repeat center / cover;

    .choosePath {
        color: $yellow;
        font-family: 'Russo One';
        font-size: 20px;
        text-transform: uppercase;
        max-width: 234px;
        margin: 0 auto;
    }

    .pathDescr {
        margin: 0 auto;
        font-size: 16px;
        max-width: 355px;

        span {
            color: #c3ff00;
        }
    }
    
    .sliderField {
        svg {
            &:hover .sliderBg {
                opacity: 1;
            }

            &:hover circle:not(.sliderSelector) {
                fill: #c3ff00;
            }

            &:hover .sliderSelector {
                opacity: 1;
            }
        }

        .sliderDots {
            display: flex;
            justify-content: space-between;
            
            circle {
                transition: .3s;
                
                
            }
        }

        .sliderBg {
            opacity: 0;
            transition: .3s;
        }

        .sliderSelector {
            cursor: pointer;
            opacity: 0;
        }
    }
}