.stages {
    padding: 114px 0 265px;
    text-align: center;
    background: url(../assets/mainBg.png) no-repeat center / cover;

    .stagesList {
        max-width: 980px;
        margin: 138px auto 0;
        display: flex;
        justify-content: space-between;
        color: $white;
        line-height: 0.8;

        .stageItem {
            max-width: 170px;
            text-align: center;
            position: relative;

            img {
                position: absolute;
                top: 1%;
                left: 85%;
            }

            .stageText {
                transition: .3s;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .stageNum {
                position: relative;
                text-align: center;
                color: $yellow;
                font-family: Intro;
                font-size: 20px;
            }

            .stageTitle {
                font-size: 16px;
                margin: 20px 0;
            }

            .stageDescr {
                font-size: 14px;
                line-height: 24px;

                span {
                    color: #c3ff00;
                }
            }

            /*.stageNum::after {
                width: 86px;
                height: 5px;
                position: absolute;
                content: '';
                
                top: 50%;
                transform: translateY(-50%);
                left: 142px;
            }*/
        }

        
            
        
    }
}