.welcomePage {
    padding-top: 35px;
    padding-bottom: 70px;
    background-image: url(../assets/mainBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.headerNav {
    display: flex;
    position: fixed;
    right: 21vw;
}

.burger {
    margin-left: 80px;
}

.navList {
    display: flex;
    max-width: 530px;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
    transform: translateX(2000px);
    transition: transform .5s ease-in-out;
}

.navListOn {
    transform: translateX(0);
}

.navItem {
    margin-right: 35px;
}

.no-margin {
    margin-right: 0;
}

.gold {
    color: $yellow;
}

.navItem:last-child {
    margin-right: 0;
}

.main {
    margin-top: 13vh;

    h1 {
        font-size: 10vh;
        text-transform: uppercase;
        line-height: 1.2;
        font-family: Intro;

        span {
            color: $yellow;
        }
    }

    p {
        font-size: 2.5vh;
        margin-top: 3vh;
        margin-bottom: 7vh;
        color: #d7d4d5;
    }

    button {
        @include buttonStyle;
        margin-left: 50%;
        margin-right: 0;
        transform: translateX(-50%);
    }
}

.mainFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11vh;
}

.contacts {
    font-weight: 300;
}

.socialMedia {
    display: flex;
    align-items: center;
    
    img {
        margin-right: 20px;
    }

    img:last-child {
        margin-right: 0;
    }
}

.arrow {
    margin-left: 38px;
    animation: arrowAnim 1s alternate infinite;
}

@keyframes arrowAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}