.welcomePage {
    background-image: url(../assets/mainBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .container {
        height: 100vh;
        padding-top: 35px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.headerNav {
    padding-left: calc((100vw - 1140px)/2 + 1120px - 697px);
    z-index: 5;
    position: fixed;
    top: 35px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    transition: background-color .5s;
}

.headerNavBg {
    background-color: rgba(0, 0, 0, 0.7);
}

.navList {
    display: flex;
    max-width: 570px;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: 300;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    margin-right: 50px;
    overflow-x: hidden;
}

.navItem {
    margin-right: 46px; 
    text-align: center;
    transform: translateX(900px);
    transition: .3s;
}

.no-margin {
    margin-right: 0;
}

.navItem:hover {
    color: $yellow;
}

@keyframes navItemAnim {
    from {
        transform: translateX(900px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes navItemAnimOut {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(900px);
    }
}

.gold {
    color: $yellow;
}

.navItem:last-child {
    margin-right: 0;
}

.main {
    margin-top: 30px;

    h1 {
        font-size: 80px;
        text-transform: uppercase;
        line-height: 1.2;
        font-family: 'Russo One';
        letter-spacing: 5px;

        span {
            color: $yellow;
        }
    }

    p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 45px;
        color: #d7d4d5;
    }

    button {
        @include buttonStyle;
        margin-left: 50%;
        margin-right: 0;
        transform: translateX(-50%);
    }
}

.mainFooter {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts {
    font-weight: 300;
}

.socialMedia {
    display: flex;
    align-items: center;
    
    img {
        margin-right: 20px;
    }

    img:last-child {
        margin-right: 0;
    }
}

.shareIcon {
    cursor: pointer;
    transition: .2s;
}

.shareIcon:hover {
    transform: scale(1.2);
}

.mediaItem {
    transition: .2s;
    opacity: 0;
}

.mediaItem:hover {
    transform: scale(1.2);
}

@keyframes mediaAnimIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mediaAnimOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.arrow {
    margin: auto;
    animation: arrowAnim 1s alternate infinite;
}

@keyframes arrowAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.shareIconPath {
    transition: .2s;
}