@charset "UTF-8";
.title {
  line-height: 0.75;
  font-size: 44px;
  text-transform: uppercase;
  font-family: 'Russo One';
}

.welcomePage {
  background-image: url(../assets/mainBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.welcomePage .container {
  height: 100vh;
  padding-top: 35px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.headerNav {
  padding-left: calc((100vw - 1140px)/2 + 1120px - 697px);
  z-index: 5;
  position: fixed;
  top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.headerNavBg {
  background-color: rgba(0, 0, 0, 0.7);
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  margin-right: 50px;
  overflow-x: hidden;
}

.navItem {
  margin-right: 46px;
  text-align: center;
  -webkit-transform: translateX(900px);
          transform: translateX(900px);
  -webkit-transition: .3s;
  transition: .3s;
}

.no-margin {
  margin-right: 0;
}

.navItem:hover {
  color: #fa163f;
}

@-webkit-keyframes navItemAnim {
  from {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemAnim {
  from {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes navItemAnimOut {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@keyframes navItemAnimOut {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

.gold {
  color: #fa163f;
}

.navItem:last-child {
  margin-right: 0;
}

.main {
  margin-top: 30px;
}

.main h1 {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'Russo One';
  letter-spacing: 5px;
}

.main h1 span {
  color: #fa163f;
}

.main p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 45px;
  color: #d7d4d5;
}

.main button {
  width: 234px;
  height: 45px;
  background-color: #fcfcfc;
  color: #010101;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: 50%;
  margin-right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main button:hover {
  background-color: #fa163f;
}

.mainFooter {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts {
  font-weight: 300;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia img {
  margin-right: 20px;
}

.socialMedia img:last-child {
  margin-right: 0;
}

.shareIcon {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.shareIcon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mediaItem {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
}

.mediaItem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes mediaAnimIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mediaAnimIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mediaAnimOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mediaAnimOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.arrow {
  margin: auto;
  -webkit-animation: arrowAnim 1s alternate infinite;
          animation: arrowAnim 1s alternate infinite;
}

@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.shareIconPath {
  -webkit-transition: .2s;
  transition: .2s;
}

.aboutUs {
  color: #222222;
  background-color: #fcfcfc;
  padding-top: 95px;
  padding-bottom: 210px;
  position: relative;
  background: white;
}

.aboutUs .sectionDescr {
  max-width: 400px;
  margin-top: 55px;
}

.aboutUsBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 725px;
  height: 486px;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 95px;
}

.slide {
  -webkit-transform-origin: right;
          transform-origin: right;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(725px);
          transform: translateX(725px);
  z-index: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.showing {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
}

.hiding {
  z-index: 1;
  -webkit-transform: translateX(-725px);
          transform: translateX(-725px);
}

.team {
  padding: 100px 0 205px;
  text-align: center;
  background: url(../assets/chooseBg.png) no-repeat center;
  background-size: cover;
}

.teamList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 112px auto 0;
  max-width: 1000px;
}

.teamList .teamMember {
  background-image: url(../assets/photo.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 136px;
  max-width: 230px;
}

.teamList .teamMember .name {
  line-height: 0.8;
  font-size: 20px;
  color: #fa163f;
  font-weight: 400;
}

.teamList .teamMember .prof {
  margin-top: 10px;
  font-size: 16px;
}

.teamList .teamMember .memberDescr {
  font-size: 14px;
  margin-top: 20px;
  line-height: 24px;
}

.portfolio {
  padding: 105px 0 110px;
  background-color: #fcfcfc;
  color: #222222;
  text-align: center;
}

.portfolio .sectionDescr {
  margin-top: 58px;
  margin-bottom: 100px;
  font-style: italic;
  color: #6c6c6c;
  max-width: 1000px;
  margin: 58px auto 100px;
}

.portfolio .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 43px;
}

.portfolio .filter p {
  text-transform: uppercase;
}

.portfolio .filter .filterList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
  color: #6c6c6c;
}

.portfolio .filter .filterList .filterItem {
  -webkit-transition: color .2s;
  transition: color .2s;
}

.portfolio .filter .filterList .filterItem:hover {
  color: #222222;
}

.portfolio .filter .filterList .active {
  color: #222222;
}

.portfolio .filter .filterList .filterItem:not(:last-child)::after {
  content: '|';
  position: absolute;
  padding-left: 10px;
  color: #6c6c6c;
}

.portfolio .portfolioEx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 3;
}

.portfolio .portfolioEx .imgContainer {
  position: relative;
  left: 500px;
  top: 100px;
  overflow-y: auto;
  max-height: 500px;
  max-width: 900px;
}

.portfolio .portfolioList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolioList .portfolioItem {
  width: 225px;
  height: 202px;
  background: url(../assets/portfolioBG.png) no-repeat center;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.portfolio .portfolioList .portfolioItem:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
  color: #b2b2b2;
  font-weight: 400;
}

.portfolio .portfolioList .portfolioItem:nth-child(2):hover h2 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio .portfolioList .portfolioItem:nth-child(2) h2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.portfolio .portfolioList .portfolioItem:nth-child(2) h2 span {
  text-transform: uppercase;
  font-size: 17px;
  color: white;
}

.portfolio .portfolioList .portfolioItem .portfolioExpand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: rgba(102, 102, 102, 0.8);
}

.portfolio .portfolioList .portfolioItem .portfolioExpand p {
  margin-top: 10px;
  color: #e3c39d;
}

.portfolio .portfolioList .portfolioItem:hover .portfolioExpand {
  opacity: 1;
}

.portfolio .portfolioList .portfolioItem:nth-child(4n) {
  margin-right: 0;
}

.portfolio .portfolioList .portfolioItem:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.configure {
  text-align: center;
  padding: 105px 0;
  background: url(../assets/chooseBg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.configure .title {
  line-height: 100px;
}

.configure span {
  color: #fa163f;
}

.configure button {
  width: 234px;
  height: 45px;
  background-color: #fcfcfc;
  color: #010101;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.configure button:hover {
  background-color: #fa163f;
}

.configure .btnRed {
  background-color: #fa163f;
}

.configure .sectionDescr {
  margin-top: 35px;
  margin-bottom: 80px;
  font-size: 16px;
  text-transform: uppercase;
}

.configure .optionsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  max-width: 756px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 14px;
}

.configure .optionsList .option button {
  margin-bottom: 30px;
}

.configure .optionsList .option p {
  max-width: 180px;
  margin: 0 auto;
}

.beginBtn {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.beginBtnExpand {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.reviews {
  color: #222222;
  background-color: white;
  padding: 120px 0 105px;
  text-align: center;
}

.reviews .reviewItem {
  font-size: 20px;
}

.reviews .reviewItem .person {
  margin-top: 30px;
}

.reviews .reviewItem .person span {
  font-family: 'Open Sans';
}

.reviewsList {
  margin-top: 100px;
  position: relative;
  height: 150px;
}

.reviewItem {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(2000px);
          transform: translateX(2000px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.reviewShow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.reviewHide {
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
  opacity: 1;
}

.feedBack {
  padding: 115px 0 115px;
  text-align: center;
  background: white;
  color: #222222;
}

.feedBack span {
  color: #fa163f;
}

.feedBack .sectionDescr {
  margin-top: 70px;
  margin-bottom: 50px;
  margin: 65px auto 70px;
  font-style: italic;
  font-weight: 300;
  max-width: 740px;
}

.feedBack form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedBack form .nameInput {
  background: url(../assets/avatar.svg) no-repeat #999999;
  background-position: 10px center;
  background-size: 20px 20px;
}

.feedBack form .telInput {
  background: url(../assets/phone.svg) no-repeat #999999;
  background-position: 10px center;
  background-size: 20px 20px;
}

.feedBack form input {
  width: 220px;
  height: 45px;
  font-size: 18px;
  padding: 10px 10px 10px 36px;
  border-radius: 3px;
  border: none;
  background-color: #999999;
  color: #fcfcfc;
  margin-right: 40px;
}

.feedBack form input ::-webkit-input-placeholder {
  color: white;
}

.feedBack form button {
  width: 234px;
  height: 45px;
  background-color: #fcfcfc;
  color: #010101;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #fa163f;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.feedBack form button:hover {
  background-color: #fa163f;
}

.feedBack form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  padding: 15px 0;
  background-color: #222222;
}

.footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerContainer .goUpBtn {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 60px 0 170px;
}

.footer .footerContainer .copyright {
  -ms-grid-column-align: start;
      justify-self: start;
  color: #b2b2b2;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 20px;
}

.footer .footerContainer .footerContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fa163f;
  font-size: 12px;
}

.footer .footerContainer .footerContacts .tel {
  margin-right: 12px;
}

.stages {
  padding: 114px 0 265px;
  text-align: center;
  background: url(../assets/mainBg.png) no-repeat center/cover;
}

.stages .stagesList {
  max-width: 980px;
  margin: 138px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fcfcfc;
  line-height: 0.8;
}

.stages .stagesList .stageItem {
  max-width: 170px;
  text-align: center;
  position: relative;
  /*.stageNum::after {
                width: 86px;
                height: 5px;
                position: absolute;
                content: '';
                
                top: 50%;
                transform: translateY(-50%);
                left: 142px;
            }*/
}

.stages .stagesList .stageItem img {
  position: absolute;
  top: 1%;
  left: 85%;
}

.stages .stagesList .stageItem .stageText {
  -webkit-transition: .3s;
  transition: .3s;
}

.stages .stagesList .stageItem .stageText:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.stages .stagesList .stageItem .stageNum {
  position: relative;
  text-align: center;
  color: #fa163f;
  font-family: Intro;
  font-size: 20px;
}

.stages .stagesList .stageItem .stageTitle {
  font-size: 16px;
  margin: 20px 0;
}

.stages .stagesList .stageItem .stageDescr {
  font-size: 14px;
  line-height: 24px;
}

.stages .stagesList .stageItem .stageDescr span {
  color: #c3ff00;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* width и height включают в себя значения полей и границ */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* наследует от html */
  margin: 0;
  /* Убирает отступы по умолчанию */
}

body {
  overflow-x: hidden;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  min-width: 320px;
  /* body не адаптируется под ширину экрана менее 1000px */
  font-family: "Roboto condensed", sans-serif;
  /* основной шрифт */
  font-size: 16px;
  /* основной размер шрифта */
  line-height: 1.5;
  /* высота линии для всего документа */
  color: #fcfcfc;
  /* основной цвет шрифта */
  background-color: black;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body.modal-active {
  overflow: hidden;
  /* скрывает лишнее */
}

img {
  max-width: 100%;
  /* растягивает картинку на всю ширину родительского элемента */
}

a {
  text-decoration: none;
  /* убирает подчеркивание ссылки */
  color: inherit;
  /* позволяет наследовать цвет шрифта от родительского элемента */
}

ul {
  list-style-type: none;
}

.visually-hidden {
  /* доступно скрывает элемент */
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  min-width: 320px;
  /* ширина основного контента */
  margin: 0 auto;
  padding: 0 20px;
  /* центрирование */
}

.containerSmall {
  max-width: 1030px;
  min-width: 320px;
  /* ширина основного контента */
  margin: 0 auto;
  padding: 0 20px;
  /* центрирование */
}

.clearfix:after {
  /* лечит нулевую высоту div при использовании параметра float */
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@font-face {
  font-family: Intro;
  src: url("Intro.otf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #fa163f;
  border-radius: 8px;
  border: 2px solid #222222;
}

::-webkit-input-placeholder {
  color: white;
}
/*# sourceMappingURL=style.css.map */